:root {
  --header-height: 56px; /* высота Bootstrap Navbar */
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
}

.content-below-header {
  height: calc(100vh - var(--header-height));
  min-height: 0;
}
